.gradle
/build/
/bin/
/infrastructure/.terraform
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out
*.iws
*.iml
*.ipr

.DS_Store
.env
__azurite_db_blob__.json
secrets
